__pycache__

wandb

ckpts

runs

tmp

env

demo

/datasets
/store

/results
/resultstopn
/features
/featuresfull
/features_protein
/random_features
/resultsorigin
/resultsfull
/resultsallcdr
/dock_pipeline
/logs
/resultsfusion